## a) Print Mathematical tables from 3 to 20.

In [5]:
def func(start,end):
    result=""
    for i in range(start,end+1):
        for j in range(1,11):
            result+="{} * {} =".format(i,j)+str(i*j)+"\n"
    return result
result=func(3,20)    
print(result)

3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30
4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40
5 * 1 =5
5 * 2 =10
5 * 3 =15
5 * 4 =20
5 * 5 =25
5 * 6 =30
5 * 7 =35
5 * 8 =40
5 * 9 =45
5 * 10 =50
6 * 1 =6
6 * 2 =12
6 * 3 =18
6 * 4 =24
6 * 5 =30
6 * 6 =36
6 * 7 =42
6 * 8 =48
6 * 9 =54
6 * 10 =60
7 * 1 =7
7 * 2 =14
7 * 3 =21
7 * 4 =28
7 * 5 =35
7 * 6 =42
7 * 7 =49
7 * 8 =56
7 * 9 =63
7 * 10 =70
8 * 1 =8
8 * 2 =16
8 * 3 =24
8 * 4 =32
8 * 5 =40
8 * 6 =48
8 * 7 =56
8 * 8 =64
8 * 9 =72
8 * 10 =80
9 * 1 =9
9 * 2 =18
9 * 3 =27
9 * 4 =36
9 * 5 =45
9 * 6 =54
9 * 7 =63
9 * 8 =72
9 * 9 =81
9 * 10 =90
10 * 1 =10
10 * 2 =20
10 * 3 =30
10 * 4 =40
10 * 5 =50
10 * 6 =60
10 * 7 =70
10 * 8 =80
10 * 9 =90
10 * 10 =100
11 * 1 =11
11 * 2 =22
11 * 3 =33
11 * 4 =44
11 * 5 =55
11 * 6 =66
11 * 7 =77
11 * 8 =88
11 * 9 =99
11 * 10 =110
12 * 1 =12
12 * 2 =24
12 * 3 =36
12 * 4 =48
12 * 5 =60
12 * 6 =72
12 * 7 =84
12 * 8 =96
12 * 9 =108
12 * 10 =120
13 * 1 =13
13 * 2 =26
13 * 3 =39
13 * 4 =52
13 * 5 =65
13 * 6 =78
13 * 7 =91
13 * 8 =104
13 * 9 =117
13 * 10 =130
14 * 1 =14
14 * 2 =28
14 * 3 =42
14 * 4 =56
14 * 5 =70
14 * 6 =84
14 * 7 =98
14 * 8 =112
14 * 9 =126
14 * 10 =140
15 * 1 =15
15 * 2 =30
15 * 3 =45
15 * 4 =60
15 * 5 =75
15 * 6 =90
15 * 7 =105
15 * 8 =120
15 * 9 =135
15 * 10 =150
16 * 1 =16
16 * 2 =32
16 * 3 =48
16 * 4 =64
16 * 5 =80
16 * 6 =96
16 * 7 =112
16 * 8 =128
16 * 9 =144
16 * 10 =160
17 * 1 =17
17 * 2 =34
17 * 3 =51
17 * 4 =68
17 * 5 =85
17 * 6 =102
17 * 7 =119
17 * 8 =136
17 * 9 =153
17 * 10 =170
18 * 1 =18
18 * 2 =36
18 * 3 =54
18 * 4 =72
18 * 5 =90
18 * 6 =108
18 * 7 =126
18 * 8 =144
18 * 9 =162
18 * 10 =180
19 * 1 =19
19 * 2 =38
19 * 3 =57
19 * 4 =76
19 * 5 =95
19 * 6 =114
19 * 7 =133
19 * 8 =152
19 * 9 =171
19 * 10 =190
20 * 1 =20
20 * 2 =40
20 * 3 =60
20 * 4 =80
20 * 5 =100
20 * 6 =120
20 * 7 =140
20 * 8 =160
20 * 9 =180
20 * 10 =200

## b) Take Input Parameters Start=3 and End=20 from User through Keyboard. Print the same Mathematical Tables. If user gives the two inputs as 4 and 25, then the tables should print from 4 to 25.

In [6]:
start=int(input("Enter start number"))
end=int(input("Enter end number"))
result=func(start,end)
print(result)

Enter start number2
Enter end number4
2 * 1 =2
2 * 2 =4
2 * 3 =6
2 * 4 =8
2 * 5 =10
2 * 6 =12
2 * 7 =14
2 * 8 =16
2 * 9 =18
2 * 10 =20
3 * 1 =3
3 * 2 =6
3 * 3 =9
3 * 4 =12
3 * 5 =15
3 * 6 =18
3 * 7 =21
3 * 8 =24
3 * 9 =27
3 * 10 =30
4 * 1 =4
4 * 2 =8
4 * 3 =12
4 * 4 =16
4 * 5 =20
4 * 6 =24
4 * 7 =28
4 * 8 =32
4 * 9 =36
4 * 10 =40

## c) Take Input Parameters from a file called in.txt having 5 and 30 in first and second line. Your program should read the first two lines of this file and print Mathematical Tables from 5 to 30.

In [ ]:
with open("in.txt") as f:
    start=int(f.readline())
    end=int(f.readline())
result=func(start,end)
print(result)

## d) Take Input Parameters 6,12 from a file called in.txt written on the same line separated by a comma. The output should get written to a file called out.txt. To go to next line, f1.write("\n")

In [8]:
#replace will also alter the comma between 6,12 also it will search the whole line for commas
#whereas strip just remove the end characters
with open("in.txt") as f:
    x=f.readline().strip().split(',')
start=int(x[0])
end=int(x[1])
with open("out.txt",'w') as f:
    result= func(start,end)
    f.write(result)

## e) Take Input Parameters 7 and 10 from console. Output to 4 different files 7.txt, 8.txt, 9.txt, 10.txt

In [ ]:
s=int(input("Enter start number"))
e=int(input("Enter end number"))
for i in range(s,e+1):
    with open("{}.txt".format(i),'w') as f:
        for j in range(1,11):
            f.write("{} * {} =".format(i,j)+str(i*j)+"\n")

## f) Take Input Parameters 8 and 9 from console. Output in a separate directory called TABLES and with 8_yyyymmdd_hhmmss.txt (eg 8_20210828_110503.txt). Import datetime as dt, today=dt.datetime.now()

In [ ]:
import os
os.makedirs("TABLES",exist_ok=True)
import datetime as dt
s=int(input("Enter start number"))
e=int(input("Enter end number"))
for i in range(s,e+1):
    today=dt.datetime.now().strftime("%Y%m%d_%H%M%S")
    with open("TABLES/{}_".format(i)+today+".txt",'w') as f:
        for j in range(1,11):
            f.write("{} * {} =".format(i,j)+str(i*j)+"\n")